@import 'header';
@import 'main';
@import 'footer';


@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css);

*{
    font-family: 'Roboto'
}

body{
    background-color: #000000;
    color: white;
}
